<!DOCTYPE html>

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>

<body>

    <form name="myNotesForm" action="/notes/mynotes/" method="get">
        <button name="myNotesBtn" type="submit">Вывести</button>
    </form>


    <form name="addNoteFrom" action="/notes/add/" method="get">
        <button name="addNoteBtn" type="submit">Добавить</button>
    </form>


    <form name="logoutForm" action="/notes/logout/" method="get">
        <button name="logoutBtn" type="submit">Login/Logout</button>
    </form>

</body>