<!DOCTYPE html>

<html lang="ru"></html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
    rel="stylesheet">
</head>

<body>
    <div class="loginDiv">
        <form name="logoutForm" action="/notes/logout/" method="get">
            <label class="loginLabel" for="logoutBtn">{{.Login}}</label>
            <button class="loginBtn" name="logoutBtn" type="submit">{{.Status}}</button>
        </form>
    </div>

    <div class="navigateDiv">
        <form name="myNotesForm" action="/notes/mynotes/" method="get">
            <button class="navigateBtn" name="myNotesBtn" type="submit">Вывести</button>
        </form>


        <form name="addNoteFrom" action="/notes/add/" method="get">
            <button class="navigateBtn" name="addNoteBtn" type="submit">Добавить</button>
        </form>
    </div>

</body>